image: node:18.18-bullseye-slim

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_COMMIT_BRANCH == "staging"

stages:
  - lint
  - build
  - test

install:
  stage: lint
  script:
    - npm ci --cache .npm --prefer-offline
  cache:  
    key: $CI_COMMIT_REF_SLUG
    paths:
      - .npm/
  artifacts:
    expire_in: 1 days
    when: on_success
    paths:
      - node_modules/

build-client:
  stage: build
  dependencies:
    - install
  script:
    - cd client && npm run build
  only:
    refs:
      - main
      - staging
  artifacts:
    expire_in: 1 days
    when: on_success
    paths:
      - client/build

test-server:
  stage: test
  dependencies:
    - install
  script:
    - cd server
    - npm test

lint-server:
  stage: lint
  dependencies:
    - install
  script:
    - cd server && ./node_modules/eslint/bin/eslint.js --ext js,mjs,cjs . 
  allow_failure: false

lint-client:
  stage: lint 
  dependencies:
    - install
  script:
    - cd client && ./node_modules/eslint/bin/eslint.js --ext js,jsx,mjs,cjs .
  allow_failure: false