image: node:18.18-bullseye-slim

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_COMMIT_BRANCH == "staging"

stages:
  - install
  - lint
  - build
  - test

install:
  stage: install
  script:
    - npm install
    - npm ci --cache .npm --prefer-offline
  cache:  
    key: $CI_COMMIT_REF_SLUG
    paths:
      - .npm/
  artifacts:
    expire_in: 1 days
    when: on_success
    paths:
      - node_modules/

build-client:
  stage: build
  dependencies:
    - install
  script:
    - cd client && npm run build
  only:
    refs:
      - main
      - staging
  artifacts:
    expire_in: 1 days
    when: on_success
    paths:
      - client/build

test-server:
  stage: test
  dependencies:
    - install
  script:
    - cd server
    - npm test

<<<<<<< HEAD
# lint-server:
#   stage: lint
#   script:
#     - npm install -g eslint
#     - cd server && ./node_modules/eslint/bin/eslint.js --ext js,mjs,cjs . 
#   allow_failure: false
=======
lint-server:
  stage: lint
  script:
    - npm install -g eslint
    - cd server && eslint --ext .js .
  allow_failure: false
>>>>>>> 768e0e09106fd49f04631a3b1a5ada0455420eda

# lint-client:
#   stage: lint 
#   dependencies:
#     - install
#   script:
#     - npm install -g eslint
#     - cd client && ./node_modules/eslint/bin/eslint.js --ext js,jsx,mjs,cjs .
#   allow_failure: false

  lint:
  stage: lint
  dependencies:
    - install
  before_script:
    - cd server && npm ci --cache .npm --prefer-offline && cd ../metro-map-client && npm ci --cache .npm --prefer-offline
  script:
<<<<<<< HEAD
    - ./node_modules/eslint/bin/eslint.js --ext .js,.jsx,.mjs,.cjs 
=======
    - npm install -g eslint
    - cd client && eslint --ext .js .
>>>>>>> 768e0e09106fd49f04631a3b1a5ada0455420eda
  allow_failure: false