image: node:18.18-bullseye-slim

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_COMMIT_BRANCH == "staging"

default:
  cache:
    key: 
      prefix: $CI_COMMIT_REF_NAME
      files:
        - server/package-lock.json
        - client/package-lock.json
    paths:
      - server/.npm/
      - client/.npm
  before_script:
   - cd server && npm ci --cache .npm --prefer-offline && cd ../client && npm ci --cache .npm --prefer-offline && cd ..

stages:
  - lint
  - build
  - test
  - release

lint-server:
  stage: lint 
  script:
    - cd server && ./node_modules/eslint/bin/eslint.js --ext js,mjs,cjs . 
  allow_failure: false

lint-client:
  stage: lint 
  script:
    - cd client && ./node_modules/eslint/bin/eslint.js --ext js,jsx,mjs,cjs .
  allow_failure: false

build-client:
  stage: build
  script:
    - cd client && npm run build
  only:
    refs:
      - main
      - staging
  artifacts:
    expire_in: 1 days
    when: on_success
    paths:
      - client/build

test-server:
  stage: test
  script:
    - cd server && npm ci --cache .npm --prefer-offline
    - npm test

build-app-archive:
  stage: release
  variables:
    RELEASE_FILE: release-$CI_PROJECT_NAME-$CI_COMMIT_TAG-$CI_COMMIT_SHORT_SHA.tar.gz
  dependencies:
    - build-client
  before_script:
    - 'cd server && npm ci --omit dev && cd ../'
  script:
    - ls -R client
    - ls -R server
    - rm -rf server/node_modules
    - rm -rf server/.npm
    - tar -cvzf $RELEASE_FILE -C client/build . -C ../ server
  #rules:
    #- if: '$CI_COMMIT_BRANCH == "staging" && $CI_COMMIT_TAG'
  artifacts:
    expire_in: 1 day
    paths:
      - $RELEASE_FILE
