image: node:18.18-bullseye-slim

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_COMMIT_BRANCH == "staging"

stages:
  - install
  - lint
  - build
  - test

install:
  stage: install
  script:
    - npm install
    - npm ci --cache .npm --prefer-offline
  cache:  
    key: $CI_COMMIT_REF_SLUG
    paths:
      - .npm/
  artifacts:
    expire_in: 1 days
    when: on_success
    paths:
      - node_modules/

build-client:
  stage: build
  dependencies:
    - install
  script:
    - cd client && npm run build
  only:
    refs:
      - main
      - staging
  artifacts:
    expire_in: 1 days
    when: on_success
    paths:
      - client/build

test-server:
  stage: test
  dependencies:
    - install
  before_script:
    - npm install jest
    - npm install supertest
  script:
    - cd server
    - npm test

lint:
  stage: lint
  dependencies:
    - install
  before_script:
    - cd server && npm ci --cache .npm --prefer-offline && cd ../metro-map-client && npm ci --cache .npm --prefer-offline
  script:
  - ./node_modules/eslint/bin/eslint.js --ext .js,.jsx,.mjs,.cjs 
  allow_failure: false