.leaflet-container {
  /* stylelint-disable-next-line unit-no-unknown */
  width: 100wh; 
  height: 80vh;
}

@media (orientation: portrait) {
  .ui-container {
    flex-direction: column;
  }

  .leaflet-container {
    width: 100%;
  }
}

.country-popup {
  overflow-y: scroll;
}
