.leaflet-container {
  width: 100wh; 
  height: 100vh;
}
/* #map-container {
  height: 90%;
} */

@media (orientation: portrait) {
  .ui-container {
    flex-direction: column;
  }
  .leaflet-container {
    width: 100%;
  }
}
